@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap');

.container-full {
    width: 100%;
}
.container {
    display: block;
    width: 900px;
    margin: 0 auto;
}
.container-cards {
    width: 50%;
    margin: 0 auto;
}

.col-1 {
    width: 100%;
    float: left;
}

.col-2 {
    width: 50%;
    float: left;
}

.row {
    width: 100%;
    float: left;
}

/* Navigation bar  */

html {
    scroll-behavior: smooth;
}
body {
    background-color: rgb(228, 228, 228);
}
#bannerimage {
    overflow: hidden;
    width: 100%;
    background-image: url(banner.jpg);
    height: 1080px;
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: lightslategrey;
    -webkit-box-shadow: 0px 10px 5px lightgrey;
}
.logo{
    padding: 3px;
    margin: 3px 7px;
    background-repeat: no-repeat;
    width: 65px;
    height: 65px;
    position: fixed;
}

.logo-name ul {
    list-style: none;
}
.navbar {
    background-color: transparent;
    width: 100%;
    padding: 2px;
    margin: 2px;
    margin-top: 3px;
    left: 80%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
}
.navbar-links ul {
    display: inline-flex;
    margin: 0px;
    padding: 0px;
    justify-content: space-between;
}
.navbar-links li {
    list-style: none;
}
.navbar-links li a {
    display: block;
    padding: 16px;
    justify-content: space-between;
    font-family: 'Rajdhani', sans-serif;
    color: black;
    text-decoration-line: none;
    margin-left: 12px;
    margin-right: 12px;
}
.navbar-links li a:hover {
    background-color: rgba(0, 0, 0, 0.2);
    transition: .3s all;
    border-radius: 9px;
}

.toggle-button {
    position: flex;
    top: .75rem;
    right: 16px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}


@media only screen and (max-width: 2560px) {
    .navbar {
        left: 82%;
        font-size: 28px;
    }
}
@media only screen and (max-width: 1440px) {
    .navbar {
        left: 80%;
        font-size: 22px;
    }   
}

@media only screen and (max-width: 1200px) {
    .navbar {
        left: 72%;
        font-size: 20px;
    }
}

@media only screen and (max-width: 768px) {
    .navbar {
        left: 63%;
    }
}

@media only screen and (max-width: 576px) {
    .toggle-button {
        display:flex;
        margin-left: 520px;
        margin-top: 10px; 
    }
    .logo {
        display: none;
    }
    .logo-name {
        display: flex;
    }
    .navbar-links {
        display: none;
        width: 100%;
    }
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        left: -10px;
        margin-left: 20px;
    }
    .navbar-links ul {
        width: 100%;
        flex-direction: column;
        margin-top: 15px;
    }
    .navbar-links li a {
        padding: .5rem 1rem;
    }
    .navbar-links.active {
        display: flex;
    }
}
@media only screen and (max-width: 425px) {
    .toggle-button {
        display:flex;
        margin-left: 370px;
        margin-top: 10px; 
    }
    .logo {
        display: none;
    }
    .logo-name {
        display: flex;
    }
    .navbar-links {
        display: none;
        width: 100%;
    }
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        left: -10px;
    }
    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }
    .navbar-links li a {
        padding: .5rem 1rem;
    }
    .navbar-links.active {
        display: flex;
    }
}

@media only screen and (max-width: 375px) {
    .toggle-button {
        display:flex;
        margin-left: 320px;
        margin-top: 10px; 
    }
    .logo {
        display: none;
    }
    .logo-name {
        display: flex;
    }
    .navbar-links {
        display: none;
        width: 100%;
    }
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        left: -10px;
    }
    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }
    .navbar-links li a {
        padding: .5rem 1rem;
    }
    .navbar-links.active {
        display: flex;
    }
}
@media only screen and (max-width:320px) {
    .toggle-button {
        display:flex;
        margin-left: 265px;
        margin-top: 10px; 
    }
    .logo {
        display: none;
    }
    .logo-name {
        display: flex;
    }
    .navbar-links {
        display: none;
        width: 100%;
    }
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        left: -10px;
    }
    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }
    .navbar-links li a {
        padding: .5rem 1rem;
    }
    .navbar-links.active {
        display: flex;
    }
}
.title {
    display: flex;
    position: absolute;
    font-family: 'Rajdhani', sans-serif;
    font-size: 78px;
    top: 30%;
    left: 40%;
    padding: 5px;
    text-decoration: none;
}
.title-border {
    color: white;
    background-color: transparent;
    border: 5px;
    border-color: white;
    border-style: solid none solid none;
    border-radius: 2px;
    transition-duration: 0.5s;
    transition-delay: 50ms;
    transition-timing-function: ease-in-out;
}
.title-border:hover {
    transition-duration: 1s;
    transition-delay: 0.2s;
    transition-timing-function: ease-in-out;
    color: white;
    background: transparent;
    border: 5px;
    border-color: white;
    border-style: none solid none solid;
    border-radius: 2px;
}
.scroll-down-button {
    position: absolute;
    top: 100%;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
}
#section2 {

}


.card {
    position:absolute;
    width: 400px;
    height: 500px;
    max-width: 800px;
    max-height: 600px;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.cards  {
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}
input[type=radio] {
    display: none;
} 

.card-img {
    width: 400px;
    height: 500px;

}

#item-1:checked ~ .cards #card-3, #item-2:checked ~ .cards #card-1, #item-3:checked ~ .cards #card-2 {
    transform: translatex(-40%) scale(.8);
    opacity: .4;
    z-index: 0;
}

#item-1:checked ~ .cards #card-2, #item-2:checked ~ .cards #card-3, #item-3:checked ~ .cards #card-1 {
    transform: translatex(40%) scale(.8);
    opacity: .4;
    z-index: 0;
}

#item-1:checked ~ .cards #card-1, #item-2:checked ~ .cards #card-2, #item-3:checked ~ .cards #card-3 {
    transform: translatex(0) scale(1);
    opacity: 1;
    z-index: 1;
    
    img {
        box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
    }
}

#item-2:checked ~ .player #test {
    transform: translateY(0);
}

#item-2:checked ~ .player #test  {
    transform: translateY(-40px);
}

#item-3:checked ~ .player #test  {
    transform: translateY(-80px);
}